



#masonry-container {
  margin-bottom: 20px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



.test {
  font-size: 11px;
  color:rgba(0,0,0,0.3);
  font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(236,232,227,0.5);
}

h1 {
  font-family: 'Bitter', serif;
  color: white;

}

h3, .h3 {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 1.25em;
}

h4 {
  font-family: 'Bitter', serif;
  color: rgba(0,0,0,0.4);
  font-size: 14px;
  line-height: 0.75em;
  margin:5px 0 ;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
h4.price_lg {
  font-size: 18px;
  line-height: .75em;
}
p {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

a {
  color: rgba(140,0,56,1);
}

a:hover {
  color: rgba(183,0,73,1);
}

.dropdown-toggle {
  margin-top: 20px;
}
.filters {
  margin-bottom: 15px;
}
.inline-block {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}

.center {
  text-align: center;
}

.dark {
  color: #333;
}

.navbar-inverse {
  border-radius: 0px;
}
.navbar-inverse ul {
  list-style-type: none;
}

.navbar-inverse ul li a{
  color: white;
}

/* ---------    ---------*/

.btn-default {
  background-color: rgba(140,0,56,.5);
  border:solid 1px rgba(140,0,56,1);
  color: white;
}

.btn-default:hover {
  background-color: rgba(140,0,56,.8);
  border:solid 1px rgba(140,0,56,1);
  color: white;
}

.wine_color_selected {
  background-color: rgba(120,0,45,0.8);
  color:white;
  border:solid 1px rgba(120,0,45,1);
}
.wine_color_selected:hover {
  background-color: rgba(120,0,45,1);
  color:white;
  border:solid 1px rgba(120,0,45,1);
}

/* ---------    ---------*/


.wine_tile_sm {
  margin: 5px 0;
  padding: 15px;
  min-height: 180px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 4px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.wine_tile_sm:hover {
  background-color: white;
  cursor: pointer;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

.wine_tile_show {
  margin: 5px 0;
  padding: 15px;
  min-height: 140px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 4px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.wine_tile {
  margin: 5px 0;
  padding: 15px;
  min-height: 200px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 4px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.wine_tile:hover {
  background-color: white;
  cursor: pointer;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

.wine_tile_rec {
  height: 135px;
  border-top: solid 1px rgba(120,0,45,0.15);
  padding: 15px 10px;
  background-color: rgba(255,255,255,0.5);
}

.wine_tile_rec h3 {
  margin-top: 0;
}

.wine_img {
  height: 160px;
  margin: 0 20px 0 10px;
}

.wine_img_sm {
  height: 100px;
  margin: 0 20px 0 10px;
}

.wine_img_rec {
  height: 110px;
  margin: 0 15px 0 5px;
}

h4.rec_header {
  margin-bottom: 15px;
  color: #ed005f;
  font-size: 18px;
}

.sale-price {
  color: #ed005f;
}

.pipe {
  color: rgba(0,0,0,0.3);
  font-weight: 400;
  margin: 0 3px;
}


/*  NAV   */
.navbar-inverse {
  background-color: rgba(140,0,56,1);
  border-left:none;
  border-right:none;
  border-top:none;
  margin-bottom: 0;
  border-bottom: solid 1px rgba(140,0,56,1);
}



/*  -------------  bg colors  -------------  */

.footer {
  height: 100px;
}
.recommendations {
  background-color: rgba(183,0,73,0.1);
  padding: 20px 0;
  margin: 0 0 20px;
}

.filter {
  padding-top: 5px;
  background-color: rgba(183,0,73,1);
}
/*  -------------  SLOT  -------------  */


/*   END NAV   */
@media screen and (min-width: 992px) {
  .col-md-4 {
    width: 32%;
    margin: 5px;
  }
  .col-md-3 {
    width: 24%;
    margin: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-4{
    width: 32%;
    margin: 5px;
  }
}